:root {
  --primary: #cb3931;
  --secondary: #f0f0f0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 50px;
  /* margin: 0; */
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body p {
  font-size: 10px;
}

.about {
  /* margin-top: 22%; */
  width: 100%;
}

.primary {
  color: var(--primary);
}

.primary-bg {
  background-color: var(--primary);
}

.image-container {
  position: relative;
  top: 0;
  right: 0px;
  max-width: 100%;
  z-index: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.personal-info {
  position: relative;
  height: 250px;
  background-color: var(--secondary);
  padding: 100px 25px 0;
  margin-right: -50px;
}

.personal-info h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.personal-info h2 {
  font-size: 14px;
  margin-top: 25px;
  padding: 0;
  margin: 0;
}

.major-social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.icons li {
  margin-right: 10px;
}

.icon {
  width: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.personal-info a {
  font-size: 12px;
  font-weight: 500;
}

.personal-info > ul {
  position: absolute;
  top: 40px;
  left: 150px;
  margin: 0;
  padding: 0;
}

.professional-background-section > h1 {
  font-size: 18px;
}

.professional-background-details > h2 {
  margin: 0;
  font-size: 12px;
}

.professional-background-details > p {
  color: gray;
}

.italic-thin {
  font-weight: 300;
  font-style: italic;
}

.professional-background-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


@media only screen and (min-width: 550px) {
  .image-container {
    position: absolute;
    max-width: 250px;
    right: 50;
  }

  .about {
    margin: 50px 0;
    width: 40%;
  }

  .personal-info {
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 75px;
  }
}

@media only screen and (min-width: 750px) {
  .image-container {
    max-width: 400px;
  }

  .about {
    margin: 100px 0;
  }

  .personal-info {
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
  }

  .personal-info h2 {
    font-size: 18px;
  }

  .personal-info h1 {
    font-size: 64px;
  }

  .icon {
    width: 18px;
  }

  .personal-info > ul {
    top: 140px;
    left: 280px;
  }

  .professional-background-container {
    flex-wrap: nowrap;
    gap: 20%;
  }

  .professional-background-section {
    width: 50%;
  }

}

@media only screen and (min-width: 930px) {
  .image-container {
    right: 75;
  }
}
